body {
  background-color: rgb(237, 237, 237);
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.container_div {
  margin: 10px auto 0;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
  max-width: 40%;
}

.available_balance {
  color: rgb(88, 88, 88);
  font-size: 14px;
  margin: 5px;
}

.btn-new-account {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  text-align: left;
}

.fa-plus {
  font-size: 30px
}

.add-new-account:hover{
  text-decoration: none;
}